body {
    background-color:#db9832;
    align-items: center;
}

.card {
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.pic {
    flex-basis: 350px;
    flex-shrink: 2;
    max-width:550px;
    margin-bottom: 5px;
    text-align: center;
}

.pic img {
    width:100%;
}

